body{
  background-color: pink;
  color: blue;
}
p{ background-color: green; }
p1, p2, p3, p4, p5 {color: brown;
display: block;}
#first-paragraph {
  display: block;
  color: green;
  font-size: 12px;
}
#second-paragraph {
  display: block;
  color: violet;
  font-size: 12px;
}
.div{width: 100px;
  height: 50px;
  border: 3px solid red;
}
.link{
  color: red;
border: 1px solid red;
width: 500px;
}
p9{
  display: block;
  color: red;
border: 1px solid red;
width: 500px;

}

body {
  background-color: pink;

color: black;
}
h2
{ border-bottom-style: solid
color: black 2px;}
#intro{
  color: green;
}
h4 {text-decoration: underline;}
h5 {font-size: 30px;}

table, caption, th, td {

    border: 1px solid black;
    margin-top: 15px;
}
.box{display:inline;   color: black;
border: 1px solid black;
width: 100px;
height: 100px;
  }
  #first-div{float:left;}
  #second-div{float:right;}

  .clearfix{ clear:both;}

  p10, p11{width: 80px;
    border: 2px dotted red;}
    span{color:yellow;}
    span1{color:blue;}

  span2{color:orange;}
  span3{color:black;}
  span4{color:red;}

p13{background-color: #666;}
p14{background-color: rgb(255, 255, 255);  /* biały*/}
p15{background-color: hsl(0, 100%, 25%)}

.first{background-color:grey;
width: 50%;}
.second{background-color:yellow;
width: 10em;}
}
div{width:500px
 font-family:Verdana, Arial, sans-serif;
}

p18{display:block;
  color: rgb(128, 128,128);grey;
  font-size: 14px;
  line-height: 20px;
  text-indent: 20px;}

h6{text-align: center;
  text-decoration: none;
background-color: #ACC4CE;
color: rgb(255, 255,255);white;
font-size: 20px;
text-shadow: #878787;}
h7{
  color:#395075;
letter-spacing:10px;
}
.opacityTest{
opacity: .3;}
#first{
  background-color: rgba(135, 25, 110, .4);
}
#second{
  background-color: #b2b2b2;
}
.gradient{
  width: 100%;
  height: 200px;
  background-color:blue;
       /* wersja dla przeglądarek nieobsługujących gradientów */
   background-image:
       linear-gradient (180deg,  /* kąt */
                       red,      /* kolor1 */
                     yellow);  /* kolor2 */}

.image
{
background-image:url(https://github.com/lstarzyk1986/Wstep/blob/master/image/crate-with-ripe-bananas.jpg?raw=true);
background-repeat: no-repeat;
background-position: center;}

caption {font-weight: bold; }

.popup{
  width: 400px;
  height: 100px;
  background-color: beige;
  box shadow: 0px 0px 5px 5px rgba(0,0,0,0.3);
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  position: top: 20px;
border-radius: 20px;}

.squarelist{
    list-style-type: square;
}
.menulist li{
  list-style-type: none;
  display: inline-block;
    margin: 0 20px;
    color:#116493;}

    form label input {display: block;}
    p19{font-size: 20px}
    form1 label input {display: block;}
