body{
  background-color: pink;
  color: blue;
}
p{ background-color: green; }
p1, p2, p3, p4, p5 {color: brown;}
#first-paragraph {
  color: green;
  font-size: 12px;
}
#second-paragraph {
  color: violet;
  font-size: 12px;
}

body {
  background-color: pink;

color: black;
}
h2
{ border-bottom-style: solid
color: black 2px;}
#intro{
  color: green;
}
h4 {text-decoration: underline;}
h5 {font-size: 30px;}
table, caption, th, td {
    border: 1px solid black;
}
caption {font-weight: bold; }
